<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--TODO: add favicon-->
    <link rel="stylesheet" type="text/css" href="css/map.css"/>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
  </head>
  <body>
    <h2>Displaying data from '<%=start_name%>' to '<%=end_name%>'</h2>
    <form action="search" method="POST" id="search_form">
      <div class="search_row">
        <label for="start">Starting Location:</label><br/>
        <input type="text" name="start" id="start" value="<%=start_name%>" class="searchbox"/><br/>
      </div>
      <div class="search_row">
        <label for="start">End Location:</label><br/>
        <input type="text" name="end" id="end" value="<%=end_name%>" class="searchbox"/><br/>
      </div>
      <div class="search_row">
        <button type="button" onclick="check_form()">Search Route</button>
      </div>
      <div class="hidden">
        <input type="text" name="start_coords" id="start_coords">
        <input type="text" name="end_coords" id="end_coords">
      </div>
    </form>
    <div id="warning" class="hidden">Please enter both a valid start and end location</div>
    <div id="map"></div>
  </body>
  <div id="cam_data" class="hidden"><%=traffic_cams%></div>
  <div id="start_data" class="hidden"><%=start_coords%></div>
  <div id="end_data" class="hidden"><%=end_coords%></div>
  <div id="waypoint_data" class="hidden"><%=waypoints%></div>
  <div id="traffic_data" class="hidden"><%=traffic_data%></div>
  <script src="js/form.js"></script>
  <script src="js/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&libraries=places&callback=setupForms"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="js/setup_search.js"></script>
</html>
